body {
  background-color: #11171C;
  color: white;
  font-family: "Crimson Pro", serif;
}

.login-box {
  font-family: "Arial";
  border: solid 1px white;
  border-radius: 10px;
  width: 20%;
  margin-left: 40%;
  margin-top: 5%;
  background-color: #6A2E35;
  font-family: "Crimson Pro", serif;
}

.signup-box {
  border: solid 1px white;
  border-radius: 10px;
  width: 25%;
  margin-left: 37.5%;
  margin-top: 5%;
  font-family: "Crimson Pro", serif;
  background-color: #6A2E35;
}

.title {
  margin: 2%;
}

.input-field {
  padding: 2%;
  border-radius: 5px;
  border: solid 2px #ccc;
  margin: 2%;
  width: 90.5%;
  outline: none;
  font-family: "Crimson Pro", serif;
}

#password-input {
  margin-top: 0;
  margin-bottom: 0;
}

.submit-btn {
  margin: 2%;
  margin-top: 4%;
  border-radius: 5px;
  background-color: #11171C;
  width: 40%;
  text-align: center;
  cursor: pointer;
  border: solid 1px white;
  color: white;
}

.submit-btn p {
  margin: 0;
  padding: 5px;
}

#createAccount {
  margin-left: 2%;
}

#alreadyOwnAccount {
  margin-left: 2%;
}
